<nav class="sidebar">
  <ul>
    <li>
      <a href="#" class="sidebar-link">
        <img src="\assets\icons\home.png">
      </a>
    </li>
    <li>
      <a href="#" class="sidebar-link">
        <img src="\assets\icons\explore.png">

      </a>
    </li>
    <li>
      <a href="#" class="sidebar-link">
        <img src="\assets\icons\create.png">
      </a>
    </li>
    <li>
      <a href="#" class="sidebar-link">
        <img src="\assets\icons\updates.png">
      </a>
    </li>
    <li>
      <a href="#" class="sidebar-link">
        <img src="\assets\icons\messages.png">
      </a>
    </li>
  </ul>
</nav>